<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Player Companion</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

    <link rel="stylesheet" type="text/css" href="/style/index.css">

<body class="bg-gray-100">
<div class="container mx-auto p-2 relative">

    <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-2/5 bg-white shadow-md rounded-lg mb-4" style="margin: 0.25%;padding: 0.5rem;">

            <!-- Header with icons -->
            <div class="bg-gradient-to-r from-blue-200 to-gray-200 rounded-t-lg shadow-md">
                <div class="flex justify-between items-center">


                    <div class="flex items-center">
                        <span id="activeUsersCount" class="online-user">0</span>
                        <i class="fas fa-users text-green-500"></i>
                    </div>

                    <div class="flex-grow"></div>
                    <span class="text-sm font-semibold text-gray-500" id="strategyLabel"></span>
                    <div class="flex-grow"></div>

                    <div class="flex space-x-4 pl-2 ml-auto" style="margin-right: 10px;">

                        <button id="resetButton" class="cursor-pointer" aria-label="Change reset Status">
                            <img id="resetButtonImage" src="/img/circular_reset.png" class="w-6 h-6"
                                 alt="Reset Status">
                        </button>

                        <button id="pauseButton" class="cursor-pointer" aria-label="Pause">
                            <img id="pauseButtonImage" src="/img/pause.png" class="w-6 h-6" alt="Pause">
                        </button>

                        <button id="playButton" class="cursor-pointer" aria-label="Pause">
                            <img id="playButtonImage" src="/img/play.png" class="w-6 h-6" alt="Pause">
                        </button>

                    </div>


                    <!-- Three dots button with menu -->
                    <div class="relative">
                        <button id="threeDotsButton" class="cursor-pointer">
                            <i class="fas fa-ellipsis-v w-6 h-6 text-gray-500"></i>
                        </button>

                        <!-- Dropdown menu positioned below the button -->
                        <div id="dropdownMenu"
                             class="hidden absolute top-full right-0 mt-1 w-28 bg-white border border-gray-200 rounded-lg shadow-lg z-10">
                            <ul class="text-sm">
                                <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                                    <!-- Integrated logout form inside the menu -->
                                    <form th:action="@{/logout}" method="post">
                                        <input type="hidden" th:name="${_csrf.parameterName}"
                                               th:value="${_csrf.token}"/>
                                        <button type="submit" class="flex items-center space-x-1">
                                            <img src="/img/logout.png" class="w-5 h-5" alt="logout">
                                            <span>Logout</span>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div id="inputsContainer" style="margin-top: 5px;">
                <form id="gameForm">
                    <div style="height: 145px;">
                        <div id="circleContainer" class="gap-2 mb-2 w-full overflow-x-auto hidden-scrollbar"
                             style="max-height: 145px; white-space: nowrap;">
                            <div id="handResultColumn" class="flex flex-row wrap h-full w-full"></div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Win and Lose -->
            <div class="gap-2 mb-2 w-full overflow-x-auto hidden-scrollbar"
                 style="white-space: nowrap; margin-top: 5px !important;">
                <div id="handResultContainer" class="flex flex-row  wrap h-full w-full"></div>
            </div>


            <div class="progress-container">
                <div id="progressBar" class="progress-bar"></div>
            </div>


            <div id="results" class="bg-white mt-4 rounded-md shadow-sm" style="margin-top: 2px !important;">
                <div id="bettingResults" class="text-gray-700"></div>
                <div id="finalStats" class="mt-2 font-bold text-gray-900"></div>
            </div>


            <!-- ButtonsHere -->
            <div class="flex justify-between mb-2" id="buttons-collection">
                <button type="button" id="smallButton"
                        class="flex-1 bg-gradient-to-l from-blue-700 to-blue-800 text-white py-3 rounded hover:from-blue-600 hover:to-blue-700 transition duration-300 shadow-lg mr-2">
                    PLAYER
                </button>


                <button type="button" id="bigButton"
                        class="flex-1 bg-gradient-to-r from-red-700 to-red-800 text-white py-3 rounded hover:from-red-600 hover:to-red-700 transition duration-300 shadow-lg ml-2">
                    BANKER
                </button>

                <button type="button" id="backButton"
                        class="flex-1 bg-gradient-to-r from-green-700 to-green-800 text-white py-3 rounded hover:from-green-600 hover:to-green-700 transition duration-300 shadow-lg ml-2">
                    BACK
                </button>

                <button type="button" id="trippleButton"
                        class="hidden flex-1 bg-gradient-to-r from-green-700 to-green-800 text-white py-3 rounded hover:from-green-600 hover:to-green-700 transition duration-300 shadow-lg ml-2">
                    TRIPPLE
                </button>

            </div>

            <div class="flex mb-2 hidden">
                <button type="button" id="skipButton" onclick="turnOnOffSkip()"
                        class="flex-1 bg-gradient-to-l text-white py-1 rounded transition duration-200 mr-2">
                    Skip
                </button>


            </div>


            <div id="status" class="text-sm text-center">
            </div>

            <div class="mt-4">
                <div class="bg-blue-100 border border-blue-300 rounded-lg p-2 mb-2">
                    <h3 id="infoHeader" class="font-semibold text-xs"></h3>
                    <p id="infoContent" class="text-gray-700 text-xs"></p>
                </div>
            </div>
        </div>


        <!-- Second Panel -->
        <div class="w-full md:w-3/5 bg-white shadow-md rounded-lg p-2 mb-2" style="margin: 0.25%;">

            <!-- Tab Navigation -->
            <div class="flex mb-2">
                <button id="journalTab" class="flex-1 py-2 text-gray-700 text-xs border-b-2 border-blue-500"
                        onclick="showTab('History')">Gamre Result
                </button>
                <button id="graphTab" class="flex-1 py-2 text-gray-500 border-b-2 text-xs"
                        onclick="showTab('graph')">Profit/Loss
                </button>
                <button id="challengeTab" class="flex-1 py-2 text-gray-500 border-b-2 text-xs"
                        onclick="showTab('challenge')">Setting
                </button>
            </div>

            <!-- Journal Tab Content -->
            <div id="journalSection">
                <!-- profit and report selection section -->
                <div class="bg-gray-100 border rounded-lg p-2 mb-1 flex items-center justify-between"
                     id="profitAndReportSection">
                    <!-- Reduced padding to p-2 -->
                    <div>
                        <h3 class="font-semibold text-xs"> <!-- Reduced font size to text-xs -->
                            Total Profit (u): <span id="totalProfit">0.00</span> <!-- Default value -->
                        </h3>
                        <p class="text-gray-700 text-xs">Date/Time: <span id="dateTime">2024-10-18 10:00</span></p>
                        <!-- Default value -->
                    </div>

                    <div class="flex space-x-2">
                        <!-- Back Icon -->
                        <button onclick="getJournal('back')" class="p-1 rounded hover:bg-gray-200">
                            <!-- Reduced padding to p-1 -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-600" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M15 19l-7-7 7-7"/>
                            </svg>
                        </button>
                        <!-- Forward Icon -->
                        <button onclick="getJournal('forward')" class="p-1 rounded hover:bg-gray-200">
                            <!-- Reduced padding to p-1 -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-600" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M9 5l7 7-7 7"/>
                            </svg>
                        </button>
                    </div>
                </div>


                <div id="journalContainer" class="grid grid-cols-1 md:grid-cols-2 gap-1">
                    <!-- Journal entries will be populated here -->
                    <!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-1" id="journalEntriesContainer"></div> -->
                </div>
            </div>


            <!-- Graph Tab Content -->
            <div class="hidden" id="graphContainer">
                <div class="flex items-center mb-4">
                    <label class="mr-2 text-gray-700 text-sm" style="margin-right: 10px;">View By:</label>
                    <input type="radio" id="dayRadio" name="viewBy" value="day" class="mr-1 cursor-pointer" checked
                           onchange="handleViewChange()">
                    <label for="dayRadio" class="mr-4 text-gray-700 cursor-pointer text-sm">Day</label>
                    <input type="radio" id="weekRadio" name="viewBy" value="week" class="mr-1 cursor-pointer"
                           onchange="handleViewChange()">
                    <label for="weekRadio" class="text-gray-700 cursor-pointer text-sm">Week</label>
                </div>
                <canvas id="profitsGraph" width="400" height="200"></canvas>
            </div>


            <div id="challengeContainer" class="grid grid-cols-2 md:grid-cols-2 gap-2 text-sm hidden ">

                <div class="flex items-center">
                    <label for="openAi" class="text-sm">Strategy</label>
                </div>
                <div class="flex items-center">

                    <input type="radio" name="strategy" id="openAi"
                           class="p-1 border rounded bg-gray-200 cursor-pointer">
                    <label for="openAi" style="margin-left: 2px;" class="mr-2 cursor-pointer">
                        AI
                    </label>


                    <input type="radio" name="strategy" id="patternAdaptive" style="margin-left: 5px;"
                           class="p-1 border rounded bg-gray-200 cursor-pointer">
                    <label for="patternAdaptive" style="margin-left: 2px;" class="mr-2 cursor-pointer">
                        Adaptive
                    </label>

                    <input type="radio" name="strategy" id="recognizer" style="margin-left: 5px;"
                           class="p-1 border rounded bg-gray-200 cursor-pointer">
                    <label for="recognizer" style="margin-left: 2px;" class="mr-2 cursor-pointer">
                        Recognizer
                    </label>
                </div>

                <!-- Sensitivity -->
                <label id="SensitivityValue" for="Sensitivity" class="text-sm text-left">Prediction
                    Sensitivity</label>
                <input type="range" id="Sensitivity" class="p-1 border rounded text-sm" min="0" max="100" step="1"
                       value="50">


                <!-- Stop Loss -->
                <label for="stopLoss" class="text-sm text-left">Stop Loss</label>
                <input type="number" id="stopLoss" class="p-1 border rounded text-sm" placeholder="Enter stop loss">

                <!-- Stop Profit -->
                <label for="stopProfit" class="text-sm text-left">Stop Profit</label>
                <input type="number" id="stopProfit" class="p-1 border rounded text-sm"
                       placeholder="Enter stop profit">

                <!-- Trailing Stop Spread -->
                <label for="trailingStopSpread" class="text-sm text-left">Trailing Stop</label>
                <div class="grid grid-cols-2 gap-2 mt-2" style="margin-left: 0px; margin-top: -5px;">
                    <div class="flex flex-col">
                        <label for="trailingStopActivation" class="text-xs">Trigger:</label>
                        <input type="number" id="trailingStopActivation" class="p-1 border rounded text-sm w-full"
                               placeholder="Trigger">
                    </div>
                    <div class="flex flex-col">
                        <label for="trailingStopSpread" class="text-xs">Spread:</label>
                        <input type="number" id="trailingStopSpread" class="p-1 border rounded text-sm w-full"
                               placeholder="Spread">
                    </div>
                </div>


                <!-- Money Management -->
                <label for="moneyManagement" class="text-sm text-left">Money Management</label>
                <select id="moneyManagement" class="p-1 border rounded text-sm">
                    <option value="ALL_RED">ALL RED (1-3-5)</option>
                    <option value="FLAT">FLAT</option>
                    <option value="HIGH">HIGH</option>
                    <option value="hybrid">Hybrid</option>
                    <!--                    <option value="RGP">RGP</option>-->

                    <!--                        <option value="ED">ED</option>-->
                </select>


                <!-- Shield Section aligned under Money Management -->
                <label class="text-sm text-left">Shield</label>
                <div class="grid grid-cols-2 gap-2 mt-2" style="margin-left: 0px; margin-top: -5px;">
                    <div class="flex flex-col">
                        <label for="stopTrigger" class="text-xs">Trigger:</label>
                        <input type="number" id="stopTrigger" class="p-1 border rounded text-sm w-full"
                               placeholder="Trigger">
                    </div>
                    <div class="flex flex-col">
                        <label for="virtualWin" class="text-xs">Win:</label>
                        <input type="number" id="virtualWin" class="p-1 border rounded text-sm w-full"
                               placeholder="Win">
                    </div>
                </div>


                <div class="col-start-2 col-span-1 mt-2 hidden">
                    <!-- Shield Checkbox -->
                    <div class="flex items-center">
                        <input type="checkbox" id="isCompounding" class="mr-2">
                        <label for="isCompounding" class="text-sm text-left">Compounding</label>
                    </div>
                </div>

                <!-- Starting Fund -->
                <label for="startingFund" class="text-sm text-left">Initial Fund</label>
                <input type="number" id="startingFund" class="p-1 border rounded text-sm"
                       placeholder="Starting fund">


                <label class="text-sm text-left">Daily Goal</label>
                <div class="grid grid-cols-2 gap-2 mt-2" style="margin-left: 0px; margin-top: -5px;">
                    <div class="flex flex-col">
                        <label for="dailyGoalPercentage" class="text-xs">%</label>
                        <input type="number" id="dailyGoalPercentage" class="p-1 border rounded text-sm w-full"
                               placeholder="Percentage">
                    </div>
                    <div class="flex flex-col">
                        <label for="dailyGoalValue" class="text-xs">Amount</label>
                        <input type="number" id="dailyGoalValue"
                               class="p-1 border rounded text-sm w-full bg-gray-200" placeholder="Amount" readonly>
                    </div>
                </div>


                <!-- Current Fund -->
                <label for="currentFund" class="text-sm hidden text-left">Current Fund</label>
                <input type="number" id="currentFund" class="p-1 border rounded text-sm hidden"
                       placeholder="Current fund">


                <!-- Bet Amount -->

                <label for="betAmount" class="text-sm text-left">Bet Amount</label>
                <input type="number" id="betAmount" class="p-1 border rounded text-sm bg-gray-200"
                       placeholder="Bet amount" readonly>

                <div class="flex items-center">
                    <label for="reverseBet" class="text-sm ">Other</label>
                </div>
                <div class="flex items-center">

                    <input type="checkbox" id="reverseBet" class="p-1 border rounded bg-gray-200 cursor-pointer">
                    <label for="reverseBet" style="margin-left: 2px;" class="mr-2 cursor-pointer">
                        Reverse Bet
                    </label>


                    <input type="checkbox" id="hideHandResult" style="margin-left: 5px;"
                           class="p-1 border rounded bg-gray-200 cursor-pointer">
                    <label for="hideHandResult" style="margin-left: 2px;" class="mr-2 cursor-pointer">
                        Hide Result
                    </label>
                </div>


                <!-- Save Parameters Button -->
                <div class="col-span-2 flex flex-col justify-center mt-2">
                    <div id="successMessage" class="hidden text-green-500 text-sm mb-2 text-center"></div>
                    <!-- Success message -->
                    <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 max-w-xs mx-auto">Save
                        Parameters
                    </button>
                </div>

            </div>


        </div>
    </div>


    <div class="overlay" id="spinnerOverlay">
        <div class="spinner"></div>
    </div>

    <!-- Yes or No Dialog Modal -->
    <div id="yesNoModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-50">
        <div class="bg-white rounded-lg shadow-lg w-96">
            <!-- Modal Header -->
            <div class="px-4 py-2 border-b">
                <h3 class="text-sm font-semibold">Confirmation</h3>
            </div>
            <!-- Modal Body -->
            <div class="p-4">
                <p>Do you want to save this game result?</p>
            </div>
            <!-- Modal Footer -->
            <div class="px-4 py-2 border-t flex flex-col space-y-2">
                <button id="yesButton"
                        class="text-xs bg-green-700 text-white w-full py-2 rounded-lg shadow hover:bg-green-600 transition duration-300 transform hover:scale-105">
                    Yes
                </button>
                <button id="noButton"
                        class="text-xs bg-blue-700 text-white w-full py-2 rounded-lg shadow hover:bg-blue-600 transition duration-300 transform hover:scale-105">
                    No
                </button>
                <button id="cancelButton" style="margin-top: 20px;"
                        class="text-xs bg-gray-500 text-white w-full py-2 rounded-lg shadow hover:bg-gray-600 transition duration-300 transform hover:scale-105">
                    Close
                </button>
            </div>
        </div>
    </div>


    <!-- Strategies dialog-->

    <div class="notification" id="notification">
        <span id="message"></span>
    </div>

    <script src="/scripts/main.js"></script>

</body>

</html>